body {overflow: hidden}
.derp {
	width: 20px;
	height: 20px;
	position: absolute;
    left: 50%;
	top: 50%;
	margin-top: -20px;
	margin-left: -20px;
	border: 10px dotted rgb(24, 45, 98);
	display: none;
}

